html,
body {
  width: 100%;
  height: 100%;
}
.my-content {
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
}
.my-content .left {
  width: 80px;
  height: 100%;
  float: left;
  background-color: pink;
  position: relative;
}
.my-content .right {
  height: 100%;
  margin-left: 90px;
  background-color: aqua;
  position: relative;
}
