html,
body {
  width: 100%;
  height: 100%;
}
.my-content {
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
}
.my-content .left {
  width: 80px;
  height: 100%;
  float: left;
  position: relative;
}
.my-content .left .left-nav a {
  display: block;
  width: 100%;
  line-height: 45px;
  text-align: center;
  color: #000;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
}
.my-content .left .left-nav .active {
  border-right: none;
  background-color: transparent;
}
.my-content .right {
  height: 100%;
  margin-left: 90px;
  position: relative;
}
.my-content .right .right-nav {
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
}
.my-content .right .right-nav ul li {
  float: left;
  width: 33.33%;
}
.my-content .right .right-nav ul li a img {
  width: 100%;
  display: block;
}
