.ren {
  position: relative;
}
.ren .geta {
  position: absolute;
  right: 5px;
  top: 13px;
  font-size: 14px;
  color: #FF6666;
}
.btn-primary {
  background-color: #FF6666;
  width: 345px;
}
.go {
  display: block;
  height: 28px;
  text-align: right;
  font-size: 14px;
}
